body {
  background: linear-gradient(135deg, #36d1dc, #5b86e5);
  font-family: Arial, sans-serif;
  color: #06012bda;
}

.form {
  padding: 15px;
  background: #5b86e5;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.card-body {
  background: #f0ecec;
  border-radius: 15px ;
}

#creado {
  background: #3d5afe;
}

.card {
  background: transparent;
  border: none;
}

.fa-solid {
  color: #ff1744;
}

i {
  cursor: pointer;
}

.App {
  text-align: center;
}

h2 {
  color: #3d5afe;
  font-size: 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  font-weight: bold;
}